################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcomApi/bin/Debug/net8.0/EcomApi.BusinessEntities.dll
/EcomApi/bin/Debug/net8.0/EcomApi.staticwebassets.runtime.json
/EcomApi/bin/Debug/net8.0/EcomApi.BusinessEntities.pdb
/EcomApi/bin/Debug/net8.0/EcomApi.DataEntities.dll
/EcomApi/bin/Debug/net8.0/EcomApi.DataEntities.pdb
/EcomApi/bin/Debug/net8.0/EcomApi.dll
/EcomApi/bin/Debug/net8.0/EcomApi.exe
/EcomApi/bin/Debug/net8.0/EcomApi.pdb
/EcomApi/bin/Debug/net8.0/EcomApi.Utils.dll
/EcomApi/bin/Debug/net8.0/EcomApi.Utils.pdb
/EcomApi/obj/EcomApi.csproj.nuget.dgspec.json
/EcomApi/obj/project.assets.json
/EcomApi/obj/project.nuget.cache
/EcomApi/obj/Debug/net8.0/EcomApi.assets.cache
/EcomApi/obj/Debug/net8.0/EcomApi.csproj.AssemblyReference.cache
/EcomApi/obj/Debug/net8.0/EcomApi.csproj.CoreCompileInputs.cache
/EcomApi/obj/Debug/net8.0/EcomApi.csproj.FileListAbsolute.txt
/EcomApi/obj/Debug/net8.0/EcomApi.dll
/EcomApi/obj/Debug/net8.0/EcomApi.GeneratedMSBuildEditorConfig.editorconfig
/EcomApi/obj/Debug/net8.0/EcomApi.genruntimeconfig.cache
/EcomApi/obj/Debug/net8.0/EcomApi.pdb
/EcomApi/obj/Debug/net8.0/EcomApi.sourcelink.json
/EcomApi/obj/Debug/net8.0/staticwebassets.build.json
/EcomApi/obj/Debug/net8.0/staticwebassets.development.json
/EcomApi/obj/Debug/net8.0/ApiEndpoints.json
/EcomApi/obj/Debug/net8.0/apphost.exe
/EcomApi/obj/Debug/net8.0/EcomApi.AssemblyInfo.cs
/EcomApi/obj/Debug/net8.0/EcomApi.AssemblyInfoInputs.cache
/EcomApi/obj/Debug/net8.0/refint/EcomApi.dll
/EcomApi/obj/Debug/net8.0/ref/EcomApi.dll
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.AssemblyInfo.cs
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.AssemblyInfoInputs.cache
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.assets.cache
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.csproj.AssemblyReference.cache
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.csproj.CoreCompileInputs.cache
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.csproj.FileListAbsolute.txt
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.dll
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.GeneratedMSBuildEditorConfig.editorconfig
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.pdb
/EcomApi.BusinessEntities/obj/Debug/net8.0/EcomApi.BusinessEntities.sourcelink.json
/EcomApi.BusinessEntities/obj/Debug/net8.0/ref/EcomApi.BusinessEntities.dll
/EcomApi.BusinessEntities/obj/Debug/net8.0/refint/EcomApi.BusinessEntities.dll
/EcomApi.BusinessEntities/obj/Debug/net8.0/staticwebassets.build.json
/EcomApi.BusinessEntities/obj/EcomApi.BusinessEntities.csproj.nuget.dgspec.json
/EcomApi.BusinessEntities/obj/project.assets.json
/EcomApi.BusinessEntities/obj/project.nuget.cache
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.BusinessEntities.dll
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.BusinessEntities.pdb
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.DataEntities.dll
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.DataEntities.pdb
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.Utils.dll
/EcomApi.BusinessEntities/bin/Debug/net8.0/EcomApi.Utils.pdb
/EcomApi.DataEntities/bin/Debug/net8.0/EcomApi.DataEntities.dll
/EcomApi.DataEntities/bin/Debug/net8.0/EcomApi.DataEntities.pdb
/EcomApi.DataEntities/bin/Debug/net8.0/EcomApi.Utils.dll
/EcomApi.DataEntities/bin/Debug/net8.0/EcomApi.Utils.pdb
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.AssemblyInfo.cs
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.AssemblyInfoInputs.cache
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.assets.cache
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.csproj.AssemblyReference.cache
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.csproj.CoreCompileInputs.cache
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.csproj.FileListAbsolute.txt
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.dll
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.GeneratedMSBuildEditorConfig.editorconfig
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.pdb
/EcomApi.DataEntities/obj/Debug/net8.0/EcomApi.DataEntities.sourcelink.json
/EcomApi.DataEntities/obj/Debug/net8.0/ref/EcomApi.DataEntities.dll
/EcomApi.DataEntities/obj/Debug/net8.0/refint/EcomApi.DataEntities.dll
/EcomApi.DataEntities/obj/Debug/net8.0/staticwebassets.build.json
/EcomApi.DataEntities/obj/EcomApi.DataEntities.csproj.nuget.dgspec.json
/EcomApi.DataEntities/obj/project.assets.json
/EcomApi.DataEntities/obj/project.nuget.cache
/EcomApi.Utils/bin/Debug/net8.0/EcomApi.Utils.dll
/EcomApi.Utils/bin/Debug/net8.0/EcomApi.Utils.pdb
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.AssemblyInfo.cs
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.AssemblyInfoInputs.cache
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.assets.cache
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.csproj.FileListAbsolute.txt
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.dll
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.GeneratedMSBuildEditorConfig.editorconfig
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.pdb
/EcomApi.Utils/obj/Debug/net8.0/EcomApi.Utils.sourcelink.json
/EcomApi.Utils/obj/Debug/net8.0/ref/EcomApi.Utils.dll
/EcomApi.Utils/obj/Debug/net8.0/refint/EcomApi.Utils.dll
/EcomApi.Utils/obj/EcomApi.Utils.csproj.nuget.dgspec.json
/EcomApi.Utils/obj/project.assets.json
/EcomApi.Utils/obj/project.nuget.cache
/EcomApi/bin/Debug/net8.0/appsettings.json
